* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  display: block;
  cursor: pointer;
  border: none;
}

ul, ol {
  list-style: none;
}