* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  display: block;
  cursor: pointer;
  border: none;
}

ul, ol {
  list-style: none;
}

.student-card {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 12px;
}